manifest {	
  author = 'Rodrigo G.Ruiz <rgracia@km3net.de>'
  author = 'Katharina Jurk <katharina.kj.jurk@fau.de>'
  description = 'Configuration file defining cluster specific options.'
  nextflowVersion = '21.04.3'
  version = '0.1.0'  
}
env {
  BKG_PIPELINE_PATH = "${PWD}"
}
profiles {
  woody_k {
  		  
    singularity {
      enabled = true
      autoMounts = false
      runOptions = "-B /home/saturn/ "
    }
    process {
      executor = 'local'

      publishDir {
        path = '/home/saturn/capn/mppi148h/output/'
	mode = 'copy'
	overwrite = true
      }

      clusterOptions = '--time=24:00:00 --mem=8G'

      withName: '.*' {
        container = '/home/saturn/capn/mppi148h/singularity/psr_container.sif'
      }
      
    }
  }
}
