manifest {	
  author = 'Rodrigo G.Ruiz <rgracia@km3net.de>'
  description = 'Configuration file defining cluster specific options.'
  nextflowVersion = '21.04.3'
  version = '0.1.0'  
}
env {
  KM3BUU_PIPELINE_PATH = "${PWD}"
}
profiles {
  local_rodri {
  
    singularity {
      enabled = true
      autoMounts = false
      runOptions = "-B /media/barracuda_ext/ "
    }
    process {
      withName: 'KM3BUU_EXAMPLE' {
        container = '/media/barracuda_ext/singularity/km3buu.sif'
      }
      withName: 'KM3BUU_SINGLE_ENERGY' {
        container = '/media/barracuda_ext/singularity/km3buu.sif'
      }
    }
  }
  woody {
  		  
    singularity {
      enabled = true
      autoMounts = false
      runOptions = "-B /home/saturn/ "
    }
    process {
      executor = 'slurm'

      publishDir {
        path = '/home/hpc/capn/mppi104h/Out/km3buu_10000_10GeV'
	mode = 'copy'
	overwrite = true
      }

      clusterOptions = '--time=24:00:00 --mail-user=rgracia@km3net.de --mem=8G'

      withName: 'Km3buuSingleEnergy' {
        container = '/home/saturn/capn/mppi104h/singularity/km3buu'
      }
      
      withName: 'Km3buuSingleEnergy_cylinder' {
        container = '/home/saturn/capn/mppi104h/singularity/km3buu_v1.6.1.sif'
      }
      
      withName: 'Km3sim' {
        container = '/home/saturn/capn/mppi104h/singularity/km3sim_v2.1.8'
      }
      
      withName: 'JaanetPreprocessor' {
        container = '/home/saturn/capn/mppi104h/singularity/Jpp_v14.4.2'
      }
      
      withName: 'EffectiveVolume' {
        executor  = 'local' 
        container = '/home/saturn/capn/mppi104h/singularity/km3pipe_v9.8.0'
      }
      
      withName: 'CrossSection' {
        executor  = 'local' 
        container = '/home/saturn/capn/mppi104h/singularity/km3pipe_v9.8.0'
      }
      
    }
  }
  local_johannes {
  		  
    singularity {
      enabled = true
      autoMounts = false
      runOptions = " "
    }
    process {
      withName: 'KM3BUU_EXAMPLE' {
        container = '/media/barracuda_ext/singularity/km3buu.sif'
      }
    }
  }
}