manifest {	
  author = 'Rodrigo G.Ruiz <rgracia@km3net.de>'
  author = 'Katharina Jurk <katharina.kj.jurk@fau.de>'
  author = 'Hannes Warnhofer <hannes.warnhofer@fau.de>'
  description = 'Configuration file defining cluster specific options.'
  nextflowVersion = '24.04.3'
  version = '0.1.0'  
}
env {
  WORKFLOW_DIR = "${PWD}"
}
profiles {
  woody_hannes_cluster {
  		  
    singularity {
      enabled = false
      autoMounts = false
      runOptions = "-B /home/saturn/ "
    }

    params {
    	     input_file = "/home/hpc/capn/capn107h/software/psr/workflows/km3net/km3net_parampid/inputs/km3net_parampid_inputs.nf";
           output_dir = "/home/hpc/capn/capn107h/software/nextflow_output/parampid";
           log_dir = "/home/hpc/capn/capn107h/software/nextflow_output_log";
    }


    process {
      executor = 'slurm'

      publishDir {
        path = '/home/hpc/capn/capn107h/software/nextflow_output'
        mode = 'copy'
	      overwrite = true
      }

      clusterOptions = '--time=24:00:00 --mail-user=hwarnhofer@km3net.de --mem=8G'

      
    }
  }

  woody_hannes_local {
  		  
    singularity {
      enabled = true
      autoMounts = false
      runOptions = "-B /home/saturn/ "
    }

    params {
    	     input_file = "/home/hpc/capn/capn107h/software/psr/workflows/km3net/km3net_parampid/inputs/km3net_parampid_inputs.nf";
           output_dir = "/home/hpc/capn/capn107h/software/nextflow_output/parampid";
           log_dir = "/home/hpc/capn/capn107h/software/nextflow_output_log";
    }


    process {
      executor = 'local'

      publishDir {
        path = '/home/hpc/capn/capn107h/software/nextflow_output'
        mode = 'copy'
	      overwrite = true
      }

      clusterOptions = '--time=24:00:00 --mail-user=hwarnhofer@km3net.de --mem=8G'

      
    }
  }
  
  
  woody_rodri_local {

    singularity {
      enabled = true
      autoMounts = false
      runOptions = "-B /home/saturn/ "
    }
    params {
    	   input_file = "/home/hpc/capn/mppi104h/Software/psr/workflows/km3net/km3net_sensitivity/inputs/km3net_inputs.nf";
           output_dir = "/home/wecapstor3/capn/mppi104h/out/psr";
           log_dir = "/home/wecapstor3/capn/mppi104h/out/ORCA_115/log_atm_muon";
    }

    process {
      executor = 'local'
      
      clusterOptions = '--time=24:00:00 --mail-user=rgracia@km3net.de --mem=8G'
    }
  }
}
